body {
  margin: 0;
  text-align: center;
  padding: 0;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin:auto;  
  border: 1px solid black
}

.cell {
  height: 100px;
  width: 100px;
}